<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.umu.cs.khalil.picchat">

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_size"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_size"
        android:supportsRtl="true"
        android:theme="@style/Theme.PicChat">


        <activity android:name=".ShowMessageActivity"
            android:theme="@style/Theme.PicChat.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".SendingImageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".AddFriendsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".FriendProfileActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".loggedIn"
            android:screenOrientation="portrait"/>

        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>